body {
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px;
  background: #eee;
  font-size: 18px;
  margin-bottom: 5px;
  border-radius: 5px;
}

li:hover {
  background: #ddd;
}

.checked {
  text-decoration: line-through;
}

.close {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 5px;
  color: #000;
  cursor: pointer;
}

.close:hover {
  color: #f44336;
}

.header {
  background-color: #3700ff;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input[type="text"] {
  margin: 0;
  border: none;
  border-radius: 5px;
  width: 75%;
  padding: 10px;
  font-size: 16px;
}

.addBtn,
.calculateBtn {
  padding: 10px;
  width: calc(50% - 10px);
  margin-left: 5px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  border-radius: 5px;
}

.addBtn {
  background-color: #00ff00; 
}

.calculateBtn {
  background-color: #ff9800; 
}

.addBtn:hover,
.calculateBtn:hover {
  opacity: 0.8;
}
